# Dependencias
node_modules/
.npm
dist/
build/

# Cloudflare / Wrangler
.wrangler/
.dev.vars
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.log

# Entornos locales (Base de datos local)
backend/.wrangler/
frontend/node_modules/
backend/node_modules/

# Archivos de sistema / OS
Thumbs.db
desktop.ini
